@import '../../../shared/styles/index.scss';


.title {
  cursor: default;

  height: fit-content;
  margin: vw(27) 0 0 vw(153);
  font-weight: 600;
  font-size: vw(24);
  line-height: vw(29);
  color: #094D74; 

  @include screen('mobile') {
    margin: vw_m(40) 0 0 vw(153);
    font-size: vw(70);
    line-height: vw(72);
  }
}

.content {
  display: flex;
  height: fit-content;

  .inputs {
    display: flex;
    flex-direction: column;
  }

  .btns {
    margin: 0;
    align-self: flex-end;
    margin-left: vw(10);
    margin-bottom: vw(20);
  }
}

.inputText {
  box-sizing: border-box;
  width: vw(1180);
  height: vw(150);
  margin: vw(4) 0 0 vw(130);
  padding: vw(30);
  background: #CFDAEC;
  border-radius: vw(10);

  @include screen('mobile') {
    margin: vw_m(15) 0 0 0;
    width: 100%;
    height: vw_m(700);
    padding: vw_m(30);
    border-radius: 0;
  }
  
  textarea {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden scroll;
    background: transparent;
    outline: none;
    border: none;
    resize: none;
    font-weight: 500;
    font-size: vw(16);
    line-height: vw(19);
    color: #094D74;


    &::-webkit-scrollbar {
      width: vw(4);
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: gray;
    }

    @include screen('mobile') {
      font-size: vw_m(24);
      line-height: vw_m(26);
    }
  }
}

.btns {
  display: flex;
  align-items: center;
  gap: vw(10);
  height: fit-content;
  margin: vw(10) 0 0 vw(162);

  @include screen('mobile') {
    gap: vw_m(20);
    margin: vw_m(20) 0 0 vw(162);
  }
}