[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pymorphy2 = "*"
tinydb = "*"
nltk = "*"
spacy = "*"
svgling = "*"
cairosvg = "*"

[dev-packages]

[requires]
python_version = "3.10"
