@import '../../shared/styles/index.scss';

.wrapper {
	position: sticky;
	background: $header;
	min-height: vw(50);
	grid-column-start: 1;
	grid-column-end: 3;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;

  @include screen('mobile') {
    min-height: vw_m(90);
  }

  .logo {
		cursor: pointer;
    display: flex;
    align-items: center;
		margin-left: vw(40);
    width: vw(95);
    height: vh(46);
    margin-top: vh(28);
    text-decoration: none;
    font-weight: 600;
    font-size: vw(16);
    color: #EEF0F6;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);


    @include screen('mobile') {
      margin-left: vw_m(40);
      width: vw_m(155);
      height: vw_m(68);
    }
  
    
		img {
			width: vw(95);
			height: vw(28);

      @include screen('mobile') {
        width: vw_m(155);
        height: vw_m(68);
      }  
    }
	}

  .links {
    display: flex;
    align-items: center;
		margin-left: vw(40);
    width: 100%;
    height: vw(28);
    margin-top: vh(28);
  }

  .links .link {
      text-decoration: none;
      font-weight: 600;
      font-size: vw(16);
      line-height: vw(19);
      color: #EEF0F6;
      margin-right: vw(20);
      height: vw(30);
  }

  .burgerMenuIcon {
    cursor: pointer;
    margin-right: vw(40);
    width: vw(28);
    height: vw(28);

    @include screen('mobile') {
      margin-right: vw_m(40);
      width: vw_m(44);
      height: vw_m(44);
    }

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    svg {
      width: vw(28);
      height: vw(28);

      @include screen('mobile') {
        width: vw_m(44);
        height: vw_m(44);
      }  
  
    }
  }
}
